ul {
    margin: 5%;
    padding: 0 0 56px 0;
    list-style: none;
}

section {
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    top: 28%;
    width: 100%;

    z-index: 0;
}